ch03/ch3-4.json
{
  "name": "ch3-4",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "C:\\n8n-data\\ch03\\產品FAQ.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "d8ad2b54-ffd6-4fdb-8cc4-9bb239eb3f0b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        336,
        0
      ],
      "id": "dec41d89-6ea4-4358-bfe6-598cba544cb0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c34c79f-bbb6-4b64-ad83-863345a83286",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "39338929-0204-4565-bafc-61f067913450",
              "name": "faqText",
              "value": "={{ $input.all().map(item => \n  '問題:' + item.json.常見問題 + '\\n答案:' + item.json.標準答案\n).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "6b7ec8dc-914b-4ecf-993c-1fe99028185e",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "=你是客服機器人。以下是常見問題與答案資料庫:  {{ $json.faqText }}  請根據上述FAQ資料庫回答客戶問題。 如果問題不在FAQ中,請禮貌告知並建議聯繫真人客服。 使用繁體中文,語氣親切專業。"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        0
      ],
      "id": "37b82fda-1173-42c2-89ed-9e825af9e86e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "2ad9c08c-66b0-4fcd-afb0-3e4503773400",
      "name": "When chat message received",
      "webhookId": "1409c774-9f79-4daa-b84d-cb4f887b7a45"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        192
      ],
      "id": "6db9ff9b-3feb-40a5-9a33-6c904a5713a5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3fTloRjhqENCKNlp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cdb9616b-4521-4993-bdcf-9f35f529374e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "n0VkpeLzplzGfG8k",
  "tags": []
}