ch03/ch3-3.json
{
  "name": "ch3-3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2aa2c161-8e29-4c68-9a57-ef023d5f6203",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ebd8c7c-8806-402b-b1bd-4002bab86ae4",
              "name": "prompt",
              "value": "請用繁體中文撰寫一篇關於「AI 自動化工作流程」的 200 字介紹。",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "2002c781-0f8c-4817-9cb6-4272a9fff9be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "fbafe9a6-9b4f-4f34-af89-12efa9bc2197",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "EmWfBTlgl0dbD2WL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        608,
        0
      ],
      "id": "4e15c1c3-f7cf-4903-9566-b887a46c6bd2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\n8n-data\\ch03\\answer2.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        768,
        0
      ],
      "id": "e7ab307b-14e8-4345-8ec7-b19af2250470",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f30f590e-0ea0-4750-87c6-6e6c49974c0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "DiWSI9XsP5Ac3SHR",
  "tags": []
}