ch06/ch6-4-2.json
{
  "name": "ch6-4-2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9d325131-b6dc-4ddf-9255-4242847d32ba",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch06\\產品庫存表.xlsx",
        "sheetNameOptions": "產品庫存表"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "7e91c04e-8d5f-404e-913a-597f8a395436",
      "name": "Read rows from Excel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/broadcast",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.Token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"messages\": [\n\t\t{\n\t\t\t\"type\": \"text\",\n\t\t\t\"text\": \"⚠️ 庫存警報：{{ $json['產品名稱'] }} ({{ $json['產品編號'] }}) 庫存僅剩 {{ $json['庫存數量'] }} 個！請立即補貨。\"\n\t\t}\n\t]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "4c0b4225-b366-407f-a828-5cab36997806",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "77c9c48b-85e6-4c70-a645-c83dfd74880e",
              "leftValue": "={{ $json['庫存數量'] }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "07cd1652-57a2-49e5-8132-9efe6528a56f",
              "leftValue": "={{ $json['已發出通知'] }}",
              "rightValue": "否",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "df567cb8-8d22-43a7-a47a-d8100757c5cc",
      "name": "Filter"
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch06\\產品庫存表.xlsx",
        "operation": "updateRow",
        "sheetNameOptions": "產品庫存表",
        "rowNumber": "={{ $('Filter').item.json._rowNumber }}",
        "updatedData": "{ \"已發出通知\": \"是\" }"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "c91700f1-6019-4134-bc88-cb505597e86a",
      "name": "Update row in Excel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "819027ad-a220-4f70-9420-c8bbb715cfcd",
              "name": "Token",
              "value": "<Channel Access Token>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ],
      "id": "a716d2a1-3731-41ca-a284-e818714af4db",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read rows from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read rows from Excel": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7b965b8a-354b-4685-aba3-3f03c24f8ca7",
  "meta": {
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "ycI5wHgJsdL4Be7Z",
  "tags": []
}