ch05/ch5-5b.json
{
  "name": "ch5-5b",
  "nodes": [
    {
      "parameters": {
        "path": "cs-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3122e6a3-bd59-4380-9995-43422950b3cc",
      "name": "Webhook",
      "webhookId": "41c714c0-acb7-4759-8281-7065bced92af"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head>\n<meta charset=\"UTF-8\">\n<title>客服聯絡表單</title>\n<style>\n  body { font-family: Arial, sans-serif; max-width: 560px; margin: 60px auto; background: #f0f2f5; }\n  .card { background: white; padding: 36px; border-radius: 12px; box-shadow: 0 2px 16px rgba(0,0,0,0.1); }\n  h2 { color: #2C3E50; margin-bottom: 6px; }\n  .sub { color: #888; font-size: 13px; margin-bottom: 24px; }\n  label { display: block; font-weight: bold; color: #34495E; margin: 14px 0 5px; font-size: 14px; }\n  input, textarea { width: 100%; padding: 10px 13px; border: 1px solid #ddd; border-radius: 6px;\n    box-sizing: border-box; font-size: 14px; font-family: Arial; }\n  textarea { height: 120px; resize: vertical; }\n  input:focus, textarea:focus { outline: none; border-color: #2C3E50; }\n  button { width: 100%; margin-top: 22px; padding: 13px; background: #2C3E50;\n    color: white; border: none; border-radius: 6px; font-size: 15px;\n    font-weight: bold; cursor: pointer; }\n  button:hover { background: #34495E; }\n  .required { color: #E74C3C; margin-left: 3px; }\n</style>\n</head>\n<body>\n<div class=\"card\">\n  <h2>💬 客服聯絡表單</h2>\n  <p class=\"sub\">請填寫您的問題，我們將盡快為您服務</p>\n  <form action=\"/webhook/cs-submit\" method=\"POST\">\n    <label>姓名 <span class=\"required\">*</span></label>\n    <input name=\"customerName\" required placeholder=\"王小明\">\n\n    <label>Email <span class=\"required\">*</span></label>\n    <input name=\"customerEmail\" type=\"email\" required placeholder=\"email@example.com\">\n\n    <label>聯絡電話</label>\n    <input name=\"customerPhone\" placeholder=\"0912-345-678\">\n\n    <label>問題描述 <span class=\"required\">*</span></label>\n    <textarea name=\"message\" required placeholder=\"請詳述您的問題...\"></textarea>\n\n    <button type=\"submit\">📨 送出</button>\n  </form>\n</div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        0
      ],
      "id": "df37f2c3-839a-4377-b691-ae7c6e5154cc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cs-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        208
      ],
      "id": "12968281-bd0f-4b28-9f64-6572f8efd877",
      "name": "Webhook1",
      "webhookId": "52cc50a5-5d2a-46cd-b816-a3206c45bb02"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2fd82f9-6c4e-437b-ac72-4094246e9645",
              "name": "記錄編號",
              "value": "={{ \"CS-\" + $now.format('yyyyMMddHHmmss') }}",
              "type": "string"
            },
            {
              "id": "a736a03f-8ed3-44a4-b365-76a55bd4fa26",
              "name": "提交時間",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm') }}}",
              "type": "string"
            },
            {
              "id": "96f2705a-6736-4cea-9658-c41cc7b1ad64",
              "name": "客戶姓名",
              "value": "={{ $json.body.customerName }}",
              "type": "string"
            },
            {
              "id": "05bc941f-74c5-47d8-94d7-8647c4e51be2",
              "name": "客戶Email",
              "value": "={{ $json.body.customerEmail }}",
              "type": "string"
            },
            {
              "id": "dbb73df2-238c-4219-a123-48da55a22c2f",
              "name": "聯絡電話",
              "value": "={{ $json.body.customerPhone }}",
              "type": "string"
            },
            {
              "id": "740bf95d-e4c7-47d7-af2a-2168f460c1d1",
              "name": "訊息內容",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "c93f8a7a-53ab-4e4f-a404-33456c19a1c9",
              "name": "來源管道",
              "value": "網頁表單",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        208
      ],
      "id": "90b2fc6d-5bff-4b9b-86f3-ed3b5a4b2d83",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch05\\ch5-5\\customer_service.xlsx",
        "operation": "appendRow",
        "sheetNameOptions": "客服記錄",
        "rowData": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "54e8ccd2-3840-4c41-be40-5a454e0d24b2",
      "name": "Add row to Excel"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head><meta charset=\"UTF-8\">\n<style>\n  body{font-family:Arial;max-width:480px;margin:80px auto;text-align:center;background:#f0f2f5;}\n  .card{background:white;padding:40px;border-radius:12px;box-shadow:0 2px 16px rgba(0,0,0,0.1);}\n  h2{color:#27AE60;} p{color:#666;} a{color:#2C3E50;margin-top:20px;display:inline-block;}\n</style></head>\n<body><div class=\"card\">\n  <h2>✅ 已收到您的訊息！</h2>\n  <p>記錄編號：<strong>{{ $('Edit Fields').first().json['記錄編號'] }}</strong></p>\n  <p>我們將於 1-2 個工作天內與您聯繫。</p>\n  <a href=\"/webhook/cs-form\">← 返回表單</a>\n</div></body></html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        208
      ],
      "id": "354fc430-1238-4b6b-8f20-cf4edb9316bf",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "content",
        "filePath": "C:\\n8n-data\\ch05\\ch5-5\\customer_service.xlsx",
        "detectChanges": [
          "add"
        ],
        "advancedSettings": {}
      },
      "type": "n8n-nodes-excel-watcher.excelWatcher",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "id": "28498fd6-bdb8-4ecf-8824-5f6f91afcb8c",
      "name": "Excel Watcher"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一位客服資料分類專家。\n請分析以下客戶問題，判斷屬於哪一類別，並提供簡短摘要。\n\n客戶問題：{{ $json['訊息內容'] }}\n\n請用 JSON 格式回覆，格式如下：\n{\n  \"category\": \"技術類\",   // 只能是：技術類、業務類、物流類 其中之一\n  \"summary\": \"問題摘要\"   // 20字以內的問題摘要\n}\n\n分類原則：\n- 技術類：系統問題、登入、軟體、App、API、網頁顯示異常\n- 業務類：價格、授權、合約、報價、升級方案、折扣優惠\n- 物流類：訂單、出貨、配送、退貨、地址修改、包裹\n\n只輸出 JSON，不要其他說明文字。\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        416
      ],
      "id": "5148ff41-4a8b-4acc-a63f-8da604f5b3a8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        608
      ],
      "id": "d8bf7900-dbc4-4868-8d58-11baae1ba0f0",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "BE03B8XedTGZrDN2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['分類'] }}",
                    "rightValue": "技術類",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec82f199-6f54-4132-b025-be1bb2304115"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9f74a659-cabd-406f-b6d2-dc52a7d47681",
                    "leftValue": "={{ $json['分類'] }}",
                    "rightValue": "業務類",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a74d75fb-1cb1-461a-83d9-d1394d09c88b",
                    "leftValue": "={{ $json['分類'] }}",
                    "rightValue": "物流類",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        400
      ],
      "id": "438165fe-cdc6-4248-94fd-a98ab122f1f5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e0e1afd-85a5-4ff9-bc7e-9fa32a172a20",
              "name": "記錄編號",
              "value": "={{ $('Excel Watcher').item.json['記錄編號'] }}",
              "type": "string"
            },
            {
              "id": "00ab5f53-0d16-4b10-a0aa-b93b940c15dc",
              "name": "提交時間",
              "value": "={{ $('Excel Watcher').item.json['提交時間'] }}",
              "type": "string"
            },
            {
              "id": "efb456ba-5ba3-4026-828c-23bd04d049cd",
              "name": "客戶姓名",
              "value": "={{ $('Excel Watcher').item.json['客戶姓名'] }}",
              "type": "string"
            },
            {
              "id": "f6f533ba-8ea0-4576-bec2-60060b1dee37",
              "name": "客戶Email",
              "value": "={{ $('Excel Watcher').item.json['客戶Email'] }}",
              "type": "string"
            },
            {
              "id": "b26076d6-1aa7-4a1d-85b6-dea20b70c0f8",
              "name": "聯絡電話",
              "value": "={{ $('Excel Watcher').item.json['聯絡電話'] }}",
              "type": "string"
            },
            {
              "id": "6af9c5f7-6734-4e66-bd00-1fd5e70c2b61",
              "name": "訊息內容",
              "value": "={{ $('Excel Watcher').item.json['訊息內容'] }}",
              "type": "string"
            },
            {
              "id": "c8235d4e-e29e-4dab-9947-0bab1a6a6d7f",
              "name": "分類",
              "value": "={{ JSON.parse($json.text).category }}",
              "type": "string"
            },
            {
              "id": "7bf39d4e-2a30-456c-bbf1-90f4cbbd28fa",
              "name": "處理狀態",
              "value": "待處理",
              "type": "string"
            },
            {
              "id": "0f064c86-3852-49d6-976c-0726c5bb69bd",
              "name": "備註",
              "value": "={{ JSON.parse($json.text).summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        416
      ],
      "id": "4a448c1a-1ef5-43da-b400-2734afff9396",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "filePath": "C:/n8n-data/ch05/ch5-5/customer_service_result.xlsx",
        "operation": "appendRow",
        "sheetNameOptions": "技術類",
        "rowData": "={{ $json }}"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        832,
        272
      ],
      "id": "961481f4-ca8e-4892-ad3b-c44de6496abb",
      "name": "Add row to Excel1"
    },
    {
      "parameters": {
        "filePath": "C:/n8n-data/ch05/ch5-5/customer_service_result.xlsx",
        "operation": "appendRow",
        "sheetNameOptions": "業務類",
        "rowData": "={{ $json }}"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        832,
        432
      ],
      "id": "d8953f67-fee7-4bda-8afe-b98a71eb6cd1",
      "name": "Add row to Excel2"
    },
    {
      "parameters": {
        "filePath": "C:/n8n-data/ch05/ch5-5/customer_service_result.xlsx",
        "operation": "appendRow",
        "sheetNameOptions": "物流類",
        "rowData": "={{ $json }}"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        832,
        592
      ],
      "id": "6dd5f599-6a85-4ed0-96f3-9c2461d002a9",
      "name": "Add row to Excel3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Add row to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add row to Excel": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel Watcher": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add row to Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add row to Excel2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add row to Excel3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "90f3463c-13fc-415f-b2ef-f02348fb8264",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "zHMv7c0yyUH3LnnT",
  "tags": []
}