ch05/ch5-2-1.json
{
  "name": "ch5-2-1",
  "nodes": [
    {
      "parameters": {
        "path": "order-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        448
      ],
      "id": "2b864fce-c37b-4007-81fb-33cb98e2e4da",
      "name": "Webhook",
      "webhookId": "362e84b0-0f61-4029-957c-37e551994d2b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head>\n<meta charset=\"UTF-8\">\n<title>商品訂購</title>\n<style>\n  body { font-family: Arial, sans-serif; max-width: 500px; margin: 60px auto; background: #f0f4f8; }\n  .card { background: white; padding: 32px; border-radius: 10px; box-shadow: 0 2px 12px rgba(0,0,0,0.1); }\n  h2 { color: #1E4B8E; margin-bottom: 24px; }\n  label { display: block; font-weight: bold; margin: 12px 0 4px; color: #333; }\n  input, select { width: 100%; padding: 9px 12px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 14px; }\n  button { width: 100%; margin-top: 20px; padding: 12px; background: #1E4B8E; color: white; border: none; border-radius: 5px; font-size: 15px; font-weight: bold; cursor: pointer; }\n  button:hover { background: #2D6A9F; }\n</style>\n</head>\n<body>\n<div class=\"card\">\n  <h2>🛒 商品訂購</h2>\n  <form action=\"/webhook-test/order-submit\" method=\"POST\">\n    <label>客戶姓名</label>\n    <input name=\"customerName\" required placeholder=\"王小明\">\n    <label>客戶 Email</label>\n    <input name=\"customerEmail\" type=\"email\" required placeholder=\"email@example.com\">\n    <label>商品</label>\n    <select name=\"productId\" required>\n      <option value=\"\">-- 請選擇商品 --</option>\n      <option value=\"P001|藍牙耳機|1200\">藍牙耳機 - NT$1,200</option>\n      <option value=\"P002|無線滑鼠|650\">無線滑鼠 - NT$650</option>\n      <option value=\"P003|機械鍵盤|2800\">機械鍵盤 - NT$2,800</option>\n      <option value=\"P004|USB集線器|380\">USB集線器 - NT$380</option>\n      <option value=\"P005|行動電源|890\">行動電源 - NT$890</option>\n    </select>\n    <label>數量</label>\n    <input name=\"quantity\" type=\"number\" min=\"1\" max=\"99\" value=\"1\" required>\n    <label>出貨日期</label>\n    <input name=\"shipDate\" type=\"date\" required>\n    <button type=\"submit\">送出訂單</button>\n  </form>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        448
      ],
      "id": "bae2b8b3-9b80-4701-b78d-eb30bcf89875",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        640
      ],
      "id": "5de5b257-7889-466c-a415-210b8b62a74a",
      "name": "Webhook1",
      "webhookId": "c00520f4-1e24-4726-b5cb-ad4e0dc19d58"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00b2b34b-e103-4001-af4d-34138a2cbae0",
              "name": "訂單編號",
              "value": "={{ \"ORD-\" + $now.format('yyyyMMddHHmmss') }}",
              "type": "string"
            },
            {
              "id": "55011a97-3993-4d48-83de-40e2536fd3ee",
              "name": "客戶名稱",
              "value": "={{ $json.body.customerName }}",
              "type": "string"
            },
            {
              "id": "a119e1d0-fdc2-4ced-86a0-cf46f8d9ad98",
              "name": "客戶Email",
              "value": "={{ $json.body.customerEmail }}",
              "type": "string"
            },
            {
              "id": "b6faaf15-b9f0-4a73-b64c-6dc5dea24087",
              "name": "商品編號",
              "value": "={{ $json.body.productId.split('|')[0] }}",
              "type": "string"
            },
            {
              "id": "7f059649-9e0f-445a-a43a-45a99b564bc4",
              "name": "商品名稱",
              "value": "={{ $json.body.productId.split('|')[1] }}",
              "type": "string"
            },
            {
              "id": "9c8790d2-3740-4563-b9d8-a2a81af5f759",
              "name": "數量",
              "value": "={{ $json.body.quantity }}",
              "type": "number"
            },
            {
              "id": "1366e954-87a4-4173-872f-e5cc3234d32d",
              "name": "單價",
              "value": "={{ $json.body.productId.split('|')[2] }}",
              "type": "number"
            },
            {
              "id": "cfa804be-0712-4cc9-aa4b-50ee481e1f9d",
              "name": "總金額",
              "value": "={{ Number($json.body.quantity) * Number($json.body.productId.split('|')[2]) }}",
              "type": "number"
            },
            {
              "id": "6a1844e2-29ad-4b92-89a2-d69b3da91343",
              "name": "出貨日期",
              "value": "={{ $json.body.shipDate.split(\"T\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        640
      ],
      "id": "219d01bd-009f-4ab5-85ac-a34ead5fa3e5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fileName": {
          "__rl": true,
          "value": "order.xlsx",
          "mode": "list",
          "cachedResultName": "order.xlsx"
        },
        "sheetName": {
          "__rl": true,
          "value": "訂單",
          "mode": "list",
          "cachedResultName": "訂單"
        },
        "appendValuesObject": "={{ $json }}"
      },
      "type": "n8n-nodes-excel-api.excelApi",
      "typeVersion": 1,
      "position": [
        1168,
        640
      ],
      "id": "cdf44e78-ec64-4d3e-aaee-d43ce9b64aa8",
      "name": "Excel API",
      "credentials": {
        "excelApiAuth": {
          "id": "iiuUZiBFBTFjQPXO",
          "name": "Excel Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<h2 style=\"font-family:Arial;color:green;text-align:center;margin-top:80px\">✅ 訂單 {{ $('Edit Fields').first().json['訂單編號'] }} 已成功建立！</h2>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1328,
        640
      ],
      "id": "57331bb3-15dc-42c2-b1f5-2acee3900107",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Excel API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel API": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "09faeb5d-af6c-4747-ade4-3357637e9ed9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "QciU1npMDURlXHMt",
  "tags": []
}