ch02/ch2-4-1.json
{
  "name": "ch2-4-1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "cda301ee-39c5-40a3-8b49-67441eb426aa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "af075166-aedb-4255-b050-1a4a5db868ed",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:/n8n-data/ch02/rss_news.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "052b0c20-62f5-4d80-b11e-af1c4221f285",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/rsscna/technology",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        160,
        0
      ],
      "id": "3b2a7d23-23c3-4eae-9be8-1c8a3d810def",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// 取得所有輸入項目\nconst items = $input.all();\n// 只取前3筆，並篩選指定欄位\nconst result = items.slice(0, 3).map(item => {\n  const { isoDate, title, link, contentSnippet } = item.json;\n  return {\n    json: {\n      isoDate,\n      title,\n      link,\n      contentSnippet\n    }\n  };\n});\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "d8ebd80e-80d5-45cf-9119-8546d78e7c70",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c059e700-9f0b-41e5-85fd-253ffdd88469",
  "meta": {
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "69GJ69lvxt8ayYk9",
  "tags": []
}