ch02/ch2-4-1a.json
{
  "name": "ch2-4-1a",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "2ad07029-7911-4b3e-a824-7f255bb33e09",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:/n8n-data/ch02/rss_news2.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "a73ffb2c-2757-478c-9a81-c0ba5f06f671",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 30
            }
          ]
        },
        "feedUrl": "https://news.ltn.com.tw/rss/business.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7b3f19b5-f77d-4b07-b776-08e1681a943d",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "jsCode": "// 取得所有輸入項目\nconst items = $input.all();\n// 只取前3筆，並篩選指定欄位\nconst result = items.slice(0, 3).map(item => {\n  const { isoDate, title, link, contentSnippet } = item.json;\n  return {\n    json: {\n      isoDate,\n      title,\n      link,\n      contentSnippet\n    }\n  };\n});\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "d5873482-2a96-4e8f-a38f-1a562dc89878",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "708d5970-412d-44a6-9af5-d07fa2466c2b",
  "meta": {
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "dRj1YIYhXcYf2dx2",
  "tags": []
}