ch08/ch8-2-2.json
{
  "name": "ch8-2-2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['評論內容'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        0
      ],
      "id": "27d553e2-b600-4d1a-992a-d886cfb12721",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7708a8dd-a9e6-4680-9f90-514b1b934d73",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch08\\商品評論.xlsx",
        "sheetNameOptions": "評論測試資料"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "6c2e5d7b-d67d-4278-8e86-3e7f0bab0785",
      "name": "Read rows from Excel"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"description\": \"分析評論情緒，分類為「正面」、「中立」或「負面」\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"提取評論中的關鍵點標籤，例如「物流快」、「材質好」\"\n    },\n    \"rating\": {\n      \"type\": \"number\",\n      \"description\": \"根據文字內容給予 1 到 5 的評分（可包含小數）\"\n    }\n  },\n  \"required\": [\"sentiment\", \"tags\", \"rating\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        176
      ],
      "id": "f039ca4f-9cb7-49ad-ac6d-cd3d23058e96",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "cd073e4f-4dfa-407c-9641-2cf72f5086f7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "BE03B8XedTGZrDN2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch08\\商品評論.xlsx",
        "operation": "updateRow",
        "sheetNameOptions": "評論測試資料",
        "rowNumber": "={{ $('Read rows from Excel').item.json._rowNumber }}",
        "updatedData": "={{ $json.output }}"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "09220fb0-d67a-4bbb-8b80-0dbe05a5e25c",
      "name": "Update row in Excel"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read rows from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read rows from Excel": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8f3c1b27-1986-463c-929d-47346d6939de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "q9LMYiNBfYIin2Em",
  "tags": []
}