ch04/ch4-1.json
{
  "name": "ch4-1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drink-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2d52f40f-1d69-4e04-a3f2-83cd7b2c694e",
      "name": "Webhook",
      "webhookId": "4eb8c756-2e2e-404c-8e7b-0326e81b03d3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"訂單已成功寫入 Excel\",\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        0
      ],
      "id": "a9389f60-f959-4443-8014-8674be524e5d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        0
      ],
      "id": "934b8f92-0130-4472-885d-75d96f4820df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch04\\bubble-tea-orders.xlsx",
        "operation": "appendRow",
        "sheetNameOptions": "訂單資料",
        "rowData": "={{ $json }}"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "0c3bfb4e-3044-42d6-986c-ccbbb76aa259",
      "name": "Add row to Excel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90449c34-8544-4ebc-a182-6cba301b1e23",
              "name": "訂購時間",
              "value": "={{$now.toFormat(\"yyyy-MM-dd HH:mm:ss\")}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        0
      ],
      "id": "f21f9ddb-7d89-494d-b3ce-a7b2e75528eb",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add row to Excel": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Add row to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8ad9ea1d-e8dc-45a4-b77d-e276d0d52d9d",
  "meta": {
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "Vnib4Zsj7AzcPrtW",
  "tags": []
}