ch04/ch4-3-2.json
{
  "name": "ch4-3-2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "id": "29536801-7532-4f21-93e8-46e1e3f4c65a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch04\\銷售資料2.xlsx",
        "sheetNameOptions": "銷售記錄"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        1088,
        224
      ],
      "id": "13ac2198-5afe-4b2b-b71c-bce5e7c034a7",
      "name": "Read rows from Excel"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        224
      ],
      "id": "c58fc9b9-8e1b-496f-b741-ac17767839fd",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\n8n-data\\ch04\\電子商品2.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1552,
        224
      ],
      "id": "73a9fc26-8b2f-47c0-ae73-d6220e1c48c4",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad3531d7-cb54-41a8-a804-15a2765cb33a",
              "leftValue": "={{ $json['商品類別'] }}",
              "rightValue": "電子產品",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f34625c8-094d-4a35-8e8b-b075310f4f53",
              "leftValue": "={{ $json['商品名稱'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1248,
        224
      ],
      "id": "e5fb7163-147a-480f-9c55-ce051e4cdce7",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read rows from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read rows from Excel": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eec694e9-0f87-483b-9587-bd1d77315ab5",
  "meta": {
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "h2Xqnt8hCEGIq2HE",
  "tags": []
}