ch04/ch4-4.json
{
  "name": "ch4-4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1488,
        704
      ],
      "id": "7d54ff17-0a5f-4527-9e5a-682a9a6940bb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filePath": "C:\\n8n-data\\ch04\\商品銷售記錄.xlsx",
        "sheetNameOptions": "銷售記錄"
      },
      "type": "n8n-nodes-excel-ai.excelAI",
      "typeVersion": 1,
      "position": [
        1680,
        704
      ],
      "id": "c3dac169-759e-41e8-b45d-0fe736c14611",
      "name": "Read rows from Excel"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "銷售金額"
            }
          ]
        },
        "fieldsToSplitBy": "商品名稱",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1968,
        704
      ],
      "id": "79f8f267-21b6-4575-87d4-b335f15e32d4",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f420109c-d964-4aef-b8e0-7f74035aef94",
              "leftValue": "={{ $json['商品名稱'] }}",
              "rightValue": "合計",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1824,
        704
      ],
      "id": "03413a89-112c-48bb-abc5-9861d0c616d4",
      "name": "Filter"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "銷售金額",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1664,
        928
      ],
      "id": "ef381a85-54a5-45a3-85cb-6c23c6b20ae3",
      "name": "Sort"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30ca03b5-c6ba-4835-b3a7-3301fe29f305",
              "name": "商品名稱",
              "value": "={{ $json['商品名稱'] }}",
              "type": "string"
            },
            {
              "id": "50bdaa2f-6ec7-479d-80dd-a92ff3f3ce98",
              "name": "銷售金額",
              "value": "={{ $json['sum_銷售金額'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        928
      ],
      "id": "1a8277aa-d51a-4134-8c1a-20dd613ad0eb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1824,
        928
      ],
      "id": "d9125c80-fef0-45a8-b5dc-da5cd7d8e146",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1984,
        928
      ],
      "id": "6eaef5f1-25fc-4d1b-80dc-67fd5dc9d604",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\n8n-data\\ch04\\商品銷售記錄_前三名.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2144,
        928
      ],
      "id": "a104b687-16e4-4266-b50c-3f42120e8b9f",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read rows from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read rows from Excel": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3542d8db-3cd8-4244-9eb3-18b3d3265a57",
  "meta": {
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "VSnTmob3miwytOCN",
  "tags": []
}