ch07/ch7-3-1.json
{
  "name": "ch7-3-1",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "C:\\n8n-data\\ch07\\input",
        "events": [
          "add"
        ],
        "options": {}
      },
      "id": "e414d8bf-bd97-4e43-934c-05e14ee12316",
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1660c789-11b9-48ff-a9b3-d0a0e5ae5083",
              "name": "path",
              "value": "={{ $json.path }}",
              "type": "string"
            },
            {
              "id": "fe2e7566-ae0b-4b00-ac06-e163d8423d56",
              "name": "name",
              "value": "={{ $json.path.split(/[\\\\/]/).last() }}",
              "type": "string"
            },
            {
              "id": "01377cc3-dda6-4ec9-9ebf-e34f26330fb6",
              "name": "extension",
              "value": "={{ $json.path.split('.').last().toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        80
      ],
      "id": "1fdffbae-5e14-44f6-84ff-b1262c5d9216",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7f051747-24b0-4785-87d3-60557b9fb96b",
                    "leftValue": "={{ $('Edit Fields').item.json.extension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8593ad18-0cd9-465e-b0d8-35b016cc1fb3",
                    "leftValue": "={{ $('Edit Fields').item.json.extension }}",
                    "rightValue": "html",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -192,
        80
      ],
      "id": "d3ba31c9-6efe-411a-a012-272ba59ee151",
      "name": "Switch"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Edit Fields').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "63ce000b-4ed8-4cde-a0ba-8edc25396a86",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "id": "0b1cecbc-0c51-46e2-b3d3-08c25ee1c72a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Edit Fields').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        0,
        176
      ],
      "id": "7a7ac36d-ed84-4515-bd99-75e56bf65c03",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        160,
        176
      ],
      "id": "daa42692-9bbe-48b0-b283-2df870a74129",
      "name": "Extract from File1"
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8117f431-3ccf-4e2a-8190-35d77b66bae0",
  "meta": {
    "instanceId": "b7e8bde9e1f3bc95e834c365dcac5221dc114e48bacba4a88ee234549244d416"
  },
  "id": "4jz2UFEVtcdQH1mp",
  "tags": []
}