ch07/ch7-2-2.json
{
  "name": "ch7-2-2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "454b7613-d053-4aea-b6bc-10e3d9201063",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb33034a-c717-497e-962e-bbcacfb110a8",
              "name": "sourcePath",
              "value": "C:\\n8n-data\\ch07\\test\\Excel",
              "type": "string"
            },
            {
              "id": "7ed432ce-a345-4240-91ed-210194369514",
              "name": "outputPath",
              "value": "C:\\n8n-data\\ch07\\test\\Output",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "355e85d3-7cca-4301-a557-184001e49b2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "sourcePath": "={{ $json.outputPath }}",
        "createType": "folder"
      },
      "type": "n8n-nodes-filemanager-ai.fileManagerAi",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "9107b81d-190e-4290-9bac-5c9fa73fff81",
      "name": "File Manager AI"
    },
    {
      "parameters": {
        "directoryPath": "={{ $('Edit Fields').item.json.sourcePath }}",
        "filterPattern": "*.xlsx",
        "outputMode": "array"
      },
      "type": "n8n-nodes-filemanager-ai.fileManagerAi",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "fb0fff5f-df9b-4fcb-a706-3a2fc432761b",
      "name": "File Manager AI1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "f6a80fa3-d7f1-4d1a-9fd9-9dfcea9400af",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "382db0b6-ad44-47a3-8a66-b642b864d878",
              "name": "datePrefix",
              "value": "={{ $now.toFormat('yyyyMMdd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        0
      ],
      "id": "fb445960-81e7-4061-9f57-9a475839f69d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "move",
        "sourcePath": "={{ $('Split Out').item.json.fullPath }}",
        "destinationPath": "={{ $('Edit Fields').item.json.outputPath }}\\\\{{ $json.datePrefix }}{{ $('Split Out').item.json.name }}"
      },
      "type": "n8n-nodes-filemanager-ai.fileManagerAi",
      "typeVersion": 1,
      "position": [
        944,
        0
      ],
      "id": "f395171b-6945-461a-a997-bed5c6262cbe",
      "name": "File Manager AI2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "File Manager AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Manager AI": {
      "main": [
        [
          {
            "node": "File Manager AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Manager AI1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "File Manager AI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4be8aff8-4dff-4f08-a31a-31b826eb02a7",
  "meta": {
    "instanceId": "9ce9b3df1e4f438d0cb6591025a95e1272c9cabba836103bab75a4a992803b71"
  },
  "id": "aopJvSxlf1s2cU74",
  "tags": []
}